NET "button" LOC = P58 | IOSTANDARD = LVTTL | PULLUP;
NET "button2" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "high3" LOC = P138 | IOSTANDARD = LVTTL;
NET "high2" LOC = P140 | IOSTANDARD = LVTTL;
NET "high1" LOC = P142 | IOSTANDARD = LVTTL;
NET "low2" LOC = P24 | IOSTANDARD = LVTTL;
NET "low1" LOC = P22 | IOSTANDARD = LVTTL;
NET "bish" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;
NET "bash" LOC = P31 | IOSTANDARD = LVTTL | PULLUP;
NET "shi" LOC = P232 | IOSTANDARD = LVTTL | PULLUP;

