NET "button" LOC = P58 | IOSTANDARD = LVTTL | PULLUP;
NET "button2" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "high1" LOC = P138;
NET "high1" IOSTANDARD = LVTTL;
NET "high2" LOC = P140;
NET "high2" IOSTANDARD = LVTTL;
NET "high3" LOC = P142;
NET "high3" IOSTANDARD = LVTTL;
NET "low1" LOC = P24;
NET "low1" IOSTANDARD = LVTTL;
NET "low2" LOC = P22;
NET "low2" IOSTANDARD = LVTTL;
NET "low3" LOC = P17;
NET "low3" IOSTANDARD = LVTTL;
