NET "button" LOC = P58;
NET "button" IOSTANDARD = LVTTL;
NET "button" PULLUP;
NET "button2" LOC = P67;
NET "button2" IOSTANDARD = LVTTL;
NET "button2" PULLUP;
NET "high3" LOC = P138 | IOSTANDARD = LVTTL;
NET "high2" LOC = P140;
NET "high2" IOSTANDARD = LVTTL;
NET "high1" LOC = P142;
NET "high1" IOSTANDARD = LVTTL;
NET "low2" LOC = P24;
NET "low2" IOSTANDARD = LVTTL;
NET "low1" LOC = P22;
NET "low1" IOSTANDARD = LVTTL;

